.home {
	margin-left: 20px;
}

.text-center {
	text-align: center;
}

.poster_image {
	float: left;
	width: 50%;
	height: 600px;
	margin-bottom: 2%;
}

.movie_detail, .actor_detail {
	float: left;
	margin-left: 5%;
	width: 45%;
	margin-bottom: 2%;
	text-align: left;
	height: 600px
}

.message {
	color: #0000FF;
	font-size:20px;
}

.footer {
	width: 100%;
	display: block;
	float: left;
}

.movie_list {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.movie_list input {
	width: 50%;
	height: 70px;
	font-size: 25px;
}

.marg_bottom {
	margin-bottom: 150px;
}

.footer-detail {
	float: left;
	width: 25%;
	text-align: center;
}