{% extends "base.html" %} 
{% block title %}Welcome to Rohit's movie database{% endblock %} 
{% block heading %}Welcome to Rohit's movie database{% endblock %} 

{% block content %}

<h2>Currently {{ movies|length }} movie{{ movies|length|pluralize}} present in database listed below ordered by date added.</h2>

<h3>Click <a href="/new">here</a> to add new movie to this database</h3>
{% for title,movie_id in movies %}
		<img class="poster_image" src="/image/{{ movie_id }}/" alt="{{ title }}" /><br>
	<div class="movie_detail">
		<h1>Movie title: {{ title }}</h1>
		<br>
		<a href="/detail/{{ movie_id }}/">More Detail</a> <br>
	</div>
{% endfor %}

{% endblock %}
