{% extends "base.html" %} 
{% block title %}Welcome to Rohit's movie database{% endblock %} 
{% block heading %}Welcome to Rohit's movie database{% endblock %} 

{% block content %}
A simple movie database application, that let's you add new movie as well as view the list of movies added in database.

<h3>Click <a href="/list">here</a> to  view to list movies stored in the database </h3>
<h3>Click <a href="/new">here</a> to add a new movie to the database</h3>


<form action="/list">
    <input type="submit" value="Click here to list all movies">
</form>

<form action="/new">
    <input type="submit" value="Click here to add a new movie">
</form>
{% endblock %}
