{% extends "base.html" %}

{% block title %}Movie title {{ movie.movie_title }}{% endblock %}
{% block heading %}Movie title {{ movie.movie_title }}{% endblock %}

{% block content %}
    <img class = "poster_detail" src="/image/{{ movie.key }}/" alt="{{ movie.title }}"/>
    
    <div class = "movie_detail">
    	<h2>Movie cast: {{ movie.cast }}</h2>
		 Movie plot: {{ movie.plot }}  <br><br>
		 Date added: {{ movie.created }}
	     Further reading:&nbsp;<a href="http://{{movie.website}}">Movie Link</a> 
	</div>
    
    <form action="/disable/{{ movie.key }}/">
    	<input type="submit" value="Disable Movie">
	</form>
  
{% endblock %}
